<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="PathofAllTheFiles" value="C:/Azure DevOps Repos/Business Proposal App/Spirit Business Proposal/"/>
    <!--   C:/inetpub/webapps/BusinessProposal/   C:/projects/Segra Business Proposal/Spirit Business Proposal/-->
  </appSettings>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <!--<allow users="SC_NET\Deepak.Begrajka" />-->
      <allow users="*"/>
    </authorization>
    <profile>
      <properties>
        <add name="firstName" type="string"/>
        <add name="lastName" type="string"/>
        <add name="DOB" type="DateTime"/>
        <add name="favoriteIceCream" type="string"/>
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="FrontPage.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>