<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <appSettings>
    <add key="PathofAllTheFiles" value="C:/inetpub/webapps/BusinessProposal/"/>
    <!--   C:/inetpub/webapps/BusinessProposal/   C:/projects/Segra Business Proposal/Spirit Business Proposal/-->
  </appSettings>

  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <!--<allow users="SC_NET\Deepak.Begrajka" />-->
      <allow users="*" />
    </authorization>
    <!--<profile>
      <properties>
        <add name="firstName" type="string"/>
        <add name="lastName" type="string"/>
        <add name="DOB" type="DateTime"/>
        <add name="favoriteIceCream" type="string"/>
      </properties>
    </profile>--> 
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="FrontPage.aspx" />
      </files>
    </defaultDocument>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>




</configuration>
